<div class="game-container">
  <h1>Міні-гра</h1>
  <div class="score-board">
    <span>Гравець: {{ playerScore() }}</span>
    |
    <span>Комп'ютер: {{ computerScore() }}</span>
  </div>

  <div>
    <label for="timeInput">Час (мс):</label>
    <input type="number" id="timeInput" [(ngModel)]="timeInMs" />
  </div>

  <button (click)="startGame()" [disabled]="isGameStarted">Почати</button>

  <app-game-board
    [initialValue]="initialValue"
    [timeInMs]="timeInMs"
    [isGameStarted]="isGameStarted"
    (gameOver)="onGameOver($event)"
    (playerScored)="playerScored($event)"
    (computerScored)="computerScored($event)"
  ></app-game-board>
</div>
