header,
footer {
  width: 100%;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  color: #333;
  padding: 20px 0;
  color: white;
  border-radius: 5px 5px 0 0;
  margin-bottom: 20px;
}

.scores {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 1rem;
  button {
    background-color: #1a00c6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
  }
}

footer button:hover {
  background-color: #1a00c683;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.5rem;
  }

  .scores {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }
}
